@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=PT+Serif&family=Raleway&display=swap');
body {
    background-color : #ffffff;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin: 0 ;
    padding: 0;
  }
  :root {
    /* change the values below to your colors from your palette */
    --primary-color: #D5BDAF   ;
    --secondary-color: #000000 ;
    --accent1-color: #EDEDE9;
    --accent2-color: #D6CCC2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Nothing You Could Do";
    --paragraph-font: Raleway;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #000000;  /* headlines on a white background */ 
    --headline-color-on-color: #000000; /* headlines on a colored background */ 
    --paragraph-color-on-white: #000000; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #000000; /* paragraph text on a colored background */ 
    --paragraph-background-color: #EDEDE9  ;
    --nav-link-color: #ffffff;
    --nav-background-color: #D5BDAF;
    --nav-hover-link-color: #D6CCC2;
    --nav-hover-background-color: #ffffff;
  }
  #content {
    width: 100%;
    margin: 0 auto;
    font-family: var(--heading-font)
  }
  header { 
    background-color : #EDEDE9;
    display : grid;
    grid-template-columns : 150px auto;
    width: 100%;
    text-align: center;
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #EDEDE9;
  overflow: hidden;
  margin-left: 100px;
  align-self: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D5BDAF;
  color: white;
}
  #hero img{
    width: 100%
  }
  .body h1{
    align-self: center;
  }
  nav {
    display: flex;
    justify-content:space-around;
    text-align: center;
  }
  nav a {
    text-decoration: none;
    text-align: center;
    background-color :#EDEDE9;
    text-decoration: none;
    color: #000000;;
    padding: 100px;
  }
  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
 }
  header p {
    color: #000000;
  }
  nav a:hover {
    background-color : #ffffff;
    color:#000000
  }
  .home-title {
    color :#000000;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2em;
    margin-top: 30px;
    align-self: center;
    width: 50%;
    margin: auto;
    height: auto;
    padding: 1.5em;
  }
  #photos-msg h4 {
    color: rgb(0, 0, 0);
  }
  h4 {
    color :#000000;
    width: 25%;
    margin: auto;
    height: auto;
    padding:auto;
  }
 .logo {
    width: 250px;
    padding-left: 100px;
 }
 main section img {
    box-sizing: border-box;
    width: 450px
 }
 main section {
    text-align: center;
  }
  .photos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
 .photos-grid img {
    margin: 5px;
}
.aboutme-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;   
}
#review {
    width: 100%;
    background-color: #EDEDE9 ;
    border-radius: 1em;
    width: 100%
}
.grid-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    padding-left: 100px;
}
.grid-portfolio h1 , h2, h3{
    font-size: 50px;
    margin: 45px;
    font-family: var(--heading-font)
    
}
.grid-portfolio img{
width: 470px;
}
.grid-aboutme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    padding-left: 300px;
    gap: 50 px 50 px;
    padding-top: 280px;
    margin-bottom: 90px;
}
.grid-aboutme p{
    font-size: 25px;
    width: 90%;
}
.grid-aboutme h1{
    font-size: 50px;
    margin: 45px;
    width: 40%;
    font-family: var(--heading-font)
    
}
.grid-myphoto img{
    width: 50%; 
    border-radius: 20em;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 20 px;
    width: fit-content;
}
.grid-container img{
  width: 350px;
  justify-content: center;
  margin-bottom: 10px;
}
body h1{
  font-family: var(--heading-font)
}
body h1{
 padding-left: 500px;
}
footer {
    background-color :#D6CCC2;
    padding: 0px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 1.2em;
  }
footer .social img {
  padding-top: 10px;
  width: 70px;
}